<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - C.A.R.S.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                <a class="navbar-brand" href="~/Home/Index">C.A.R.S.</a>
            </div>

   

                    @if (Session["Tipo"] != null && Session["Tipo"].ToString() == "Administracion")
                    {
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav nav">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Index">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Incidencia/AgregarIncidencia">Agregar Incidencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reportes</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuración <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="~/Usuarios/Index">Usuarios</a></li>
                        <li><a href="~/Vehiculos/Index">Vehículos</a></li>
                        <li><a href="~/Talleres/Index">Talleres</a></li>
                        
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/LogIn/LogIn">Cerrar Sesión</a></li>
            </ul>
        </div>
                    }
                </div>
            </nav>


            @* <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("C.A.R.S.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Vehiculos", "Index", "Vehiculos")</li>
                    <li>@Html.ActionLink("Talleres", "Index", "Talleres")</li>
                    <li>@Html.ActionLink("Agregar Incidencia", "AgregarIncidencia", "Incidencia")</li>

                </ul>
              </div>

        </div>
        </div>
            *@

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; Nezara S.A.</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
