<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - C.A.R.S.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <img class="navbar-brand" href="~/Home/Index" src="~/Imagenes/D_Logo_Red_Car_Rental_RGB.png">


            </div>



            @if (Session["Tipo"] != null && (Session["Tipo"].ToString() == "Administracion" || Session["Tipo"].ToString() == "Director"))
            {
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Index">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Incidencia <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="nav-link" href="~/Incidencia/AgregarIncidencia">Nueva</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="~/Home/Index">Ver todas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/ExportExcel/ReporteServicios">Reportes</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuración <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Usuarios/Index">Usuarios</a></li>
                                <li><a href="~/Vehiculos/Index">Vehículos</a></li>
                                <li><a href="~/Talleres/Index">Talleres</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Ayuda">Ayuda</a>
                        </li>

                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button"><span class="glyphicon glyphicon-user"> @Session["Mail"].ToString() </span><span class="glyphicon glyphicon-menu-down"></span> </a>
                            <ul class="dropdown-menu">


                                <li>@Html.ActionLink("Ver detalles", "Details", "Usuarios", new { id = Session["UserId"] }, null)</li>
                                <li>@Html.ActionLink("Editar", "Edit", "Usuarios", new { id = Session["UserId"] }, null)</li>

                                <li class="divider"></li>
                                <li>@Html.ActionLink("Cerrar Sesión", "LogIn", "LogIn")</li>
                            </ul>
                        </li>


                    </div>
                </div>
            }
            else if (Session["Tipo"] != null && (Session["Tipo"].ToString() == "Ventas" || Session["Tipo"].ToString() == "Mantenimiento"))
            {
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Index">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Incidencia <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="nav-link" href="~/Incidencia/AgregarIncidencia">Nueva</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="~/Home/Index">Ver todas</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Ayuda">Ayuda</a>
                        </li>

                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button"><span class="glyphicon glyphicon-user"> @Session["Mail"].ToString() </span><span class="glyphicon glyphicon-menu-down"></span> </a>
                            <ul class="dropdown-menu">


                                <li>@Html.ActionLink("Ver detalles", "Details", "Usuarios", new { id = Session["UserId"] }, null)</li>
                                <li>@Html.ActionLink("Editar", "Edit", "Usuarios", new { id = Session["UserId"] }, null)</li>

                                <li class="divider"></li>
                                <li>@Html.ActionLink("Cerrar Sesión", "LogIn", "LogIn")</li>
                            </ul>
                        </li>


                    </div>
                </div>

            }
            else if (Session["Tipo"] != null && Session["Tipo"].ToString() == "Chofer")
            {
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Index">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Incidencia <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="nav-link" href="~/Incidencia/AgregarIncidencia">Nueva</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="~/Home/Index">Ver todas</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Ayuda">Ayuda</a>
                        </li>

                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button"><span class="glyphicon glyphicon-user"> @Session["Mail"].ToString() </span><span class="glyphicon glyphicon-menu-down"></span> </a>
                            <ul class="dropdown-menu">


                                <li>@Html.ActionLink("Ver detalles", "Details", "Usuarios", new { id = Session["UserId"] }, null)</li>
                                <li>@Html.ActionLink("Editar", "Edit", "Usuarios", new { id = Session["UserId"] }, null)</li>

                                <li class="divider"></li>
                                <li>@Html.ActionLink("Cerrar Sesión", "LogIn", "LogIn")</li>
                            </ul>
                        </li>


                    </div>
                </div>
            }
        </div>
    </nav>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; C.A.R.S.</p>
            <p><span class="glyphicon glyphicon-earphone"></span> (+598) 2908 0915 - 
            <span class="glyphicon glyphicon-envelope"></span> reservas@dollar.com.uy - 
            <span class="glyphicon glyphicon-home"></span> Durazno 1390 - MVD - UY</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
