<!DOCTYPE html>
@using CARS.Utilities
@model HandleErrorInfo
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>

        @if (Model.Exception is MyException)
        {
            <h3>@Model.Exception.Message .</h3>
        }
        else
        {
            <h3>Ha ocurrido un error.  Consulta con personal de sistemas.</h3>
        }
    </hgroup>
    <button id="btnAceptar" onclick="RedirectTo('@Model.Exception.Message')" class="btn btn-primary">Aceptar</button>
   
</body>
</html>
<script type="text/javascript">
    function RedirectTo(msg) {
        if (msg.includes("caducado") || msg.includes("Usuario")) {
            window.location = "@Url.Action("LogIn", "LogIn")";
        } else if (msg.includes("Vehiculo")) {
            window.location = "@Url.Action("AgregarIncidencia", "Incidencia")";
        } else if (msg.includes("Rut")) {
            window.location = "@Url.Action("Index", "Home")";
        } else if (msg.includes("incidencia")) {
            window.location = "@Url.Action("Index", "Home")";
        } else if (msg.includes("fecha")) {
            window.location = "@Url.Action("Index", "Home")";
        }else if (msg.includes("servicios")) {
            window.location = "@Url.Action("ReporteServicios", "ExportExcel")";

        } else {
            window.location = "@Url.Action("LogIn", "LogIn")";
        }
    };
</script>
