@model IEnumerable<CARS.Models.Servicio>

@{
    ViewBag.Title = "Listado Servicios";
}

<h2>Incidencia del vehículo @ViewBag.Incidencia</h2>

<h3>Listado de Servicios</h3>


<p>
    @Html.ActionLink("Agregar Servicio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSugerida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSugerida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            <a href="@Url.Action("Edit","Servicios", new { id = item.Id })" class="glyphicon glyphicon-edit"></a>  |
            <a href="@Url.Action("Details","Servicios", new { id = item.Id })" class="glyphicon glyphicon-info-sign"></a>
        </td>
    </tr>
}

</table>
