@*SOLICITUD DE SERVICIO PARA USUARIO DE VEHÍCULO*@

@model CARS.Models.Incidencia

<h3>Solicitud de incidencia</h3>

<div class="row">
    <div class="col-md-12">
        <form method="post" action="InsertIncidencia">

            <div class="form-group">
                @Html.LabelFor(model => model.FechaSugerida, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaSugerida, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaSugerida, "", new { @class = "text-danger" })
                </div>
            </div>

           @* <div class="form-group">
                <label for="fecha" class="col-md-2 control-label">Fecha sugerida</label>
                <div class="col-md-10">
                    <input type="date" required="required" name="fecha" class="form-control" />
                </div>
            </div>*@

            <div class="form-group">
                <label for="km" class="col-md-2 control-label">Km actual</label>
                <div class="col-md-10">
                    <input type="number" required="required" name="km" class="form-control" placeholder="Km actual del vehículo" />
                </div>
            </div>

            <div class="form-group">
                <label for="ubicacion" class="col-md-2 control-label">Dirección</label>
                <div class="col-md-10">
                    <input type="text" required="required" name="dir" class="form-control" />

                </div>

            </div>

            <div class="form-group">
                <label for="vehiculo" class="col-md-2 control-label">Vehiculo</label>
                <div class="col-md-10">
                    @if (ViewBag.Vehiculo != null)
                    {
                        <input type="text" required="required" name="matricula" class="form-control" value="@ViewBag.Vehiculo.Matricula" placeholder="@ViewBag.Vehiculo.Matricula" />
                    }
                    else
                    {
                        <input type="text" required="required" name="matricula" class="form-control" placeholder="Ingresar Matricula" />
                    }

                </div>
            </div>

            <div class="form-group">
                <label for="comentario" class="col-md-2 control-label">Comentarios adicionales</label>
                <div class="col-md-10">
                    <textarea type="text" required="required" id="comentario" name="com" class="form-control" placeholder="Describa el problema de su vehículo con el mayor detalle posible"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-danger"> Cancelar </button>
                    <button type="submit" class="btn btn-success"> Solicitar </button>
                </div>
            </div>

        </form>
    </div>
</div>

