<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA6zs432NlkBRKk4vxHwIq945u-GTpcNg&libraries=places"></script>
<script>
    var searchInput = 'dir';
    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            componentRestrictions: { country: "uy" }
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var nearPlace = autocomplete.getPlace();
            document.getElementById('long').value = nearPlace.geometry.location.lng();
            document.getElementById('lat').value = nearPlace.geometry.location.lat();
        });

    });

</script>
@*SOLICITUD DE SERVICIO PARA USUARIO DE VEHÍCULO*@

@model CARS.Models.Incidencia

<h3>Solicitud de incidencia</h3>

<div class="row">
    <div class="col-md-12">
        <form method="post" action="InsertIncidencia">

            <div class="form-group">
                @Html.LabelFor(model => model.FechaSugerida, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaSugerida, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaSugerida, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="text" hidden="hidden" name="longitud" id="long" />
            <input type="text" hidden="hidden" name="latitud" id="lat" />
            @* <div class="form-group">
            <label for="fecha" class="col-md-2 control-label">Fecha sugerida</label>
            <div class="col-md-10">
                <input type="date" required="required" name="fecha" class="form-control" />
            </div>
            </div>*@

            <div class="form-group">
                <label for="km" class="col-md-2 control-label">Km actual</label>
                <div class="col-md-10">
                    <input type="number" required="required" name="km" class="form-control" placeholder="Km actual del vehículo" />
                </div>
            </div>

            <div class="form-group">
                <label for="ubicacion" class="col-md-2 control-label">Dirección</label>
                <div class="col-md-10">
                    <input type="search" required="required" name="dir" id="dir" class="form-control" />

                </div>

            </div>

            <div class="form-group">
                <label for="vehiculo" class="col-md-2 control-label">Vehiculo</label>
                <div class="col-md-10">
                    @if (ViewBag.Vehiculo != null)
                    {
                        <input type="text" required="required" name="matricula" class="form-control" value="@ViewBag.Vehiculo.Matricula" placeholder="@ViewBag.Vehiculo.Matricula" />
                    }
                    else
                    {
                        <input type="text" required="required" name="matricula" class="form-control" placeholder="Ingresar Matricula" />
                    }

                </div>
            </div>

            <div class="form-group">
                <label for="comentario" class="col-md-2 control-label">Comentarios adicionales</label>
                <div class="col-md-10">
                    <textarea type="text" required="required" id="comentario" name="com" class="form-control" placeholder="Indique número de orden y describa el problema en su vehículo"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Cancelar", "Index","Home",null, new { @class="btn btn-danger" })
                    <button type="submit" class="btn btn-primary"> Solicitar </button>
                </div>
            </div>

        </form>
    </div>
</div>

@*<script type="text/javascript">google.maps.event.addDomListener(window, 'load', function () {
        var options = {
            types: ['(cities)'],
            componentRestrictions: { country: "uy" }
        };

        var input = document.getElementById('dir');
        var places = new google.maps.places.Autocomplete(input, options);


    });</script>*@
