
@{
    ViewBag.Title = "ListaIncidencias";
}

<h2>INCIDENCIAS</h2>

@model IEnumerable<CARS.Models.Servicio>

<p>
    @Html.ActionLink("Nueva Incidencia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Taller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </th>
        <th></th>
    </tr>

 @*   @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Taller)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaEntrada)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }*@

</table>

