@model IEnumerable<CARS.Models.Servicio>

@{
    ViewBag.Title = "ReporteServicios";
}

<h2>Reporte Servicios</h2>

@using (Html.BeginForm("ReporteServicios", "Incidencia", FormMethod.Post))
{
    <fieldset>
        <p>
            <input type="text" class="form-control" placeholder="Desde" id="fechaInicio" name="fechaInicio">
            <input type="text" class="form-control" placeholder="Hasta" id="fechaFin" name="fechaFin">
            <input type="text" class="form-control" placeholder="Matrícula" id="matricula" name="matricula">
        
            <button type="submit" class="btn btn-default">Filtrar </button>
        </p>

    </fieldset>
}


<table class="table table-responsive table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSugerida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSugerida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
