@model IEnumerable<CARS.Models.Incidencia>

@{
    ViewBag.Title = "C.A.R.S.";
}


    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#pendientes">Pendientes <span class="badge">5</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#finalizadas">Finalizadas</a>
        </li>

    </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="pendientes">
                @using (Html.BeginForm("BuscarIncidencia", "Incidencia", FormMethod.Post))
                {
                    <fieldset>
                        <p>
                            Buscar: @Html.TextBox("SearchString")

                            @*Ingrese filtro de búsqueda: @Html.DropDownList("FiltrosBusqueda")*@

                            <input type="submit" class="btn-outline-primary" value="Buscar" />
                        </p>

                    </fieldset>
                }
                <div class="row">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaFin)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaSugerida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DireccionSugerida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Kilometraje)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaFin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaSugerida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DireccionSugerida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Kilometraje)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-default">Opciones</a>
                                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Agregar Servicio</a></li>
                                            <li><a href="#">Modificar</a></li>
                                            <li><a href="#">Ver detalles</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Cancelar</a></li>
                                        </ul>
                                    </div>

                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        <div class="tab-pane fade" id="finalizadas">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                         
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaFin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaSugerida)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DireccionSugerida)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Kilometraje)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaFin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaSugerida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DireccionSugerida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Kilometraje)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>

            </div>
        </div>
