@model IEnumerable<CARS.Models.Incidencia>

<table class="table table-responsive table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.NumeroUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSugerida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionSugerida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometraje)
        </th>

     
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Vehiculo.NumeroUnidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Vehiculo.Matricula)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaInicio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaSugerida)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaFin)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DireccionSugerida)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kilometraje)
    </td>
  
    <td>
        <div class="btn-group">
            <a href="#" class="btn btn-default btn-xs">Opciones</a>
            <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">


                <li class="text-dark">@Html.ActionLink("Ver Servicios", "VerServicios","Incidencia", new { id = item.Id })</li>
                <li class="divider"></li>
                <li class="text-dark">@Html.ActionLink("Agregar Servicio", "Servicio", new { id = item.Id })</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Editar", "Edit", "Incidencia", new { id = item.Id })</li>
                <li>@Html.ActionLink("Detalles", "Details", "Incidencia", new { id = item.Id })</li>
                <li>@Html.ActionLink("Borrar", "Delete", "Incidencia", new { id = item.Id })</li>

            </ul>
        </div>

    </td>
</tr>
      
    }

</table>
