@model IEnumerable<CARS.Models.Vehiculo>

@{
    ViewBag.Title = "Index";
}

<h2>Vehículos</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeCompra)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroUnidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Matricula)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kilometros)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaDeCompra)
    </td>


    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Ver detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })|
        @Html.ActionLink("Asignar Chofer", "AgregarChoferView", new { id = item.Id })
    </td>
</tr>
}

</table>
