<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA6zs432NlkBRKk4vxHwIq945u-GTpcNg&libraries=places"></script>
<script>
    var searchInput = 'dir';
    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            componentRestrictions: { country: "uy" }
        });

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var nearPlace = autocomplete.getPlace();
            document.getElementById('long').value = nearPlace.geometry.location.lng();
            document.getElementById('lat').value = nearPlace.geometry.location.lat();
            document.getElementById('direccion').value = document.getElementById('dir').value;
        });

    });

</script>
@model CARS.Models.Taller

@{
    ViewBag.Title = "Create";
}

<h3>Ingresar Taller</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>Taller</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese nombre del taller" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Rut, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese número de RUT sin puntos ni guiones" } })
            @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NombreContacto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreContacto, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del contacto en el taller" } })
            @Html.ValidationMessageFor(model => model.NombreContacto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", placeholder = "Teléono o celular" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="ubicacion" class="col-md-2 control-label">Dirección</label>
        <div class="col-md-10">
            <input type="search" required="required" name="dir" id="dir" class="form-control" />

        </div>

    </div>

    <input type="text" hidden="hidden" name="Longitud" id="long" />
    <input type="text" hidden="hidden" name="Latitud" id="lat" />
    <input type="text" hidden="hidden" name="Direccion" id="direccion" />
    @*<div class="form-group">
            @Html.LabelFor(model => model.Longitud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control", placeholder = "Coordenada X" } })
                @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control", placeholder = "Coordenada Y" } })
                @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", placeholder = "Dirección del taller" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Confirmar" class="btn btn-outline-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>
